.fixed-menu
    position(fixed, 0 , ,0)
    size(100%, 10px)
    box-shadow 0 2px 4px rgba(0, 0, 0, 0.1)
    background linear-gradient(90deg, $persian-green, $jungle-green)
    margin 0 0 55px
    z-index 100

    li
        display inline-block
        vertical-align top
        zoom 1


.navbar
    max-width 1200px
    width 100%
    margin 10px 0 0

    ul
        display flex
        justify-content flex-end

    a
        display block
        font-weight 700
        line-height 50px
        color $white
        text-decoration none
        padding 0 20px
        border-bottom 5px solid transparent

        &:hover
            color $jungle-green


.active
    a
        color $baltic-sea
        border-bottom 5px solid $jungle-green


#menu-top
    width 100%
    color $white
    transition 1s


.menu-top-inner
    max-width 1200px
    width 100%
    margin 0 auto


.navbar-fixed-top
    background-color $white
    box-shadow 0 2px 4px rgba(0, 0, 0, 0.1)

    a
        color $baltic-sea

    .logo
        color transparent
        background-color transparent
        box-shadow none
        margin  12px 0 0 10px
        size(110,auto)
        line-height 0


.logo
    position(absolute, 0, , , )
    margin 0 0 0 10px
    size(110px)
    display flex
    flex-direction column-reverse
    justify-content space-around
    align-items center
    background-color $white
    box-shadow 0 2px 4px rgba(0, 0, 0, 0.1)
    font-weight 700
    color $persian-green


.burger
    position(fixed, 20px, 20px, ,)
    color $jungle-green
    font-size 40px