.fixed-menu
    position(fixed, 0 , ,0)
    size(100%, 70px)
    box-shadow 0 2px 4px rgba(0, 0, 0, 0.1)
    background linear-gradient(90deg, $persian-green, $jungle-green)
    z-index 100

    li
        display inline-block
        vertical-align top
        zoom 1


nav
    width 100%
    background-color $white
    margin 10px 0 0

    ul
        margin 0 0 0 auto
        width fit-content

    a
        display block
        line-height 50px
        color $baltic-sea
        text-decoration none
        padding 0 20px
        border-bottom 10px solid transparent


.active
    a
        color $jungle-green
        border-bottom 10px solid $jungle-green


.logo
    position(fixed, 0, , , 12px)
    display flex
    flex-direction column-reverse
    justify-content space-around
    align-items center
    size(110px)
    background-color $white
    box-shadow 0 2px 4px rgba(0, 0, 0, 0.1)
    font-weight 700
    color $persian-green