#menu.fixed-menu
    #menu-top

        .menu-top-inner
            +logotype(nav.logo.logoSrc, nav.logo.logoAlt, nav.logo.link, nav.logo.title)

            nav.navbar
                ul
                    each link, title in nav.navPages
                        li
                            a(href= link)= title


        .menu-burger
            nav.navbar-burger
                ul
                    each link, title in nav.navPages
                        li
                            a(href= link)= title
            a(href= "#").burger &#9776;