#menu.fixed-menu
    #header-top
        +logotype(nav.logo.logoSrc, nav.logo.logoAlt, nav.logo.link, nav.logo.title)

        nav.navbar
            ul
                each link, title in nav.navPages
                    li
                        a(href= link)= title


