.wrapper
    section#product
        .inner
            p.chapter= content.product.chapter
            h2.title= content.product.title

            .tab
                ul.tabs
                    li.current
                        a(href='#park') АЛЬПІНПАРКИ
                    li
                        a(href='#pool') БАСЕЙНИ
                    li
                        a(href='#alpine') ГІРКИ
                    li
                        a(href='#water') ВОДНІ АТРАКЦІОНИ
                    li
                        a(href='#ball') КУЛІ
                    li
                        a(href='#tent') НАМЕТИ
                    li
                        a(href='#vest') РЯТУВАЛЬНІ ЖИЛЕТИ
                // tabs
                .tab-content
                    .tabs-item.current-tub
                        .product-list
                            .product-item-group
                                +productItem(content.product.item.park.first.name, content.product.item.park.first.price, content.product.item.park.first.image)
                                +productItem(content.product.item.park.first.name, content.product.item.park.first.price, content.product.item.park.first.image)
                            .product-item-group
                                +productItem(content.product.item.park.first.name, content.product.item.park.first.price, content.product.item.park.first.image)
                                +productItem(content.product.item.park.first.name, content.product.item.park.first.price, content.product.item.park.first.image)
                            .product-item-group
                                +productItem(content.product.item.park.first.name, content.product.item.park.first.price, content.product.item.park.first.image)
                                +productItem(content.product.item.park.first.name, content.product.item.park.first.price, content.product.item.park.first.image)

                    // tabs_item
                    .tabs-item
                        .product-list
                            .product-item-group
                                +productItem(content.product.item.pool.first.name, content.product.item.pool.first.price, content.product.item.pool.first.image)
                                +productItem(content.product.item.pool.first.name, content.product.item.pool.first.price, content.product.item.pool.first.image)
                            .product-item-group
                                +productItem(content.product.item.pool.first.name, content.product.item.pool.first.price, content.product.item.pool.first.image)
                                +productItem(content.product.item.pool.first.name, content.product.item.pool.first.price, content.product.item.pool.first.image)
                            .product-item-group
                                +productItem(content.product.item.pool.first.name, content.product.item.pool.first.price, content.product.item.pool.first.image)
                                +productItem(content.product.item.pool.first.name, content.product.item.pool.first.price, content.product.item.pool.first.image)

                    // tabs_item
                    .tabs-item
                        .product-list
                            .product-item-group
                                +productItem(content.product.item.alpine.first.name, content.product.item.alpine.first.price, content.product.item.alpine.first.image)
                                +productItem(content.product.item.alpine.first.name, content.product.item.alpine.first.price, content.product.item.alpine.first.image)
                            .product-item-group
                                +productItem(content.product.item.alpine.first.name, content.product.item.alpine.first.price, content.product.item.alpine.first.image)
                                +productItem(content.product.item.alpine.first.name, content.product.item.alpine.first.price, content.product.item.alpine.first.image)
                            .product-item-group
                                +productItem(content.product.item.alpine.first.name, content.product.item.alpine.first.price, content.product.item.alpine.first.image)
                                +productItem(content.product.item.alpine.first.name, content.product.item.alpine.first.price, content.product.item.alpine.first.image)

                    // tabs_item
                    .tabs-item
                        .product-list
                            .product-item-group
                                +productItem(content.product.item.water.first.name, content.product.item.water.first.price, content.product.item.water.first.image)
                                +productItem(content.product.item.water.first.name, content.product.item.water.first.price, content.product.item.water.first.image)
                            .product-item-group
                                +productItem(content.product.item.water.first.name, content.product.item.water.first.price, content.product.item.water.first.image)
                                +productItem(content.product.item.water.first.name, content.product.item.water.first.price, content.product.item.water.first.image)
                            .product-item-group
                                +productItem(content.product.item.water.first.name, content.product.item.water.first.price, content.product.item.water.first.image)
                                +productItem(content.product.item.water.first.name, content.product.item.water.first.price, content.product.item.water.first.image)

                    // tabs_item
                    .tabs-item
                        .product-list
                            .product-item-group
                                +productItem(content.product.item.ball.first.name, content.product.item.ball.first.price, content.product.item.ball.first.image)
                                +productItem(content.product.item.ball.first.name, content.product.item.ball.first.price, content.product.item.ball.first.image)
                            .product-item-group
                                +productItem(content.product.item.ball.first.name, content.product.item.ball.first.price, content.product.item.ball.first.image)
                                +productItem(content.product.item.ball.first.name, content.product.item.ball.first.price, content.product.item.ball.first.image)
                            .product-item-group
                                +productItem(content.product.item.ball.first.name, content.product.item.ball.first.price, content.product.item.ball.first.image)
                                +productItem(content.product.item.ball.first.name, content.product.item.ball.first.price, content.product.item.ball.first.image)

                    // tabs_item
                    .tabs-item
                        .product-list
                            .product-item-group
                                +productItem(content.product.item.tent.first.name, content.product.item.tent.first.price, content.product.item.tent.first.image)
                                +productItem(content.product.item.tent.first.name, content.product.item.tent.first.price, content.product.item.tent.first.image)
                            .product-item-group
                                +productItem(content.product.item.tent.first.name, content.product.item.tent.first.price, content.product.item.tent.first.image)
                                +productItem(content.product.item.tent.first.name, content.product.item.tent.first.price, content.product.item.tent.first.image)
                            .product-item-group
                                +productItem(content.product.item.tent.first.name, content.product.item.tent.first.price, content.product.item.tent.first.image)
                                +productItem(content.product.item.tent.first.name, content.product.item.tent.first.price, content.product.item.tent.first.image)

                    // tabs_item
                    .tabs-item
                        .product-list
                            .product-item-group
                                +productItem(content.product.item.vest.first.name, content.product.item.vest.first.price, content.product.item.vest.first.image)
                                +productItem(content.product.item.vest.first.name, content.product.item.vest.first.price, content.product.item.vest.first.image)
                            .product-item-group
                                +productItem(content.product.item.vest.first.name, content.product.item.vest.first.price, content.product.item.vest.first.image)
                                +productItem(content.product.item.vest.first.name, content.product.item.vest.first.price, content.product.item.vest.first.image)
                            .product-item-group
                                +productItem(content.product.item.vest.first.name, content.product.item.vest.first.price, content.product.item.vest.first.image)
                                +productItem(content.product.item.vest.first.name, content.product.item.vest.first.price, content.product.item.vest.first.image)
