.wrapper
    section#product
        .inner

            .tab
                ul.tabs
                    li
                        a(href='#') АЛЬПІНПАРКИ
                    li
                        a(href='#') БАСЕЙНИ
                    li
                        a(href='#') ГІРКИ
                    li
                        a(href='#') ВОДНІ АТРАКЦІОНИ
                    li
                        a(href='#') КУЛІ
                    li
                        a(href='#') НАМЕТИ
                    li
                        a(href='#') РЯТУВАЛЬНІ ЖИЛЕТИ
                // tabs
                .tab_content
                    .tabs_item
                        p Tab 1

                    // tabs_item
                    .tabs_item
                        p Tab 2

                    // tabs_item
                    .tabs_item
                        p Tab 3

                    // tabs_item
                    .tabs_item
                        p Tab 4

                    // tabs_item
                    .tabs_item
                        p Tab 5

                    // tabs_item
                    .tabs_item
                        p Tab 6

                    // tabs_item
                    .tabs_item
                        p Tab 7