.wrapper
    .questions
        .inner
            h2.questions-title= content.questions.title
            p.questions-subtitle= content.questions.subtitle

            form(method='post').form-message
                .form-message-inner
                    .form-input-wrap
                        input(name='name', type='text', placeholder='Ім\'я та прізвище' , title='Ім\'я Прізвище', required)
                        input(name='email', type='email', placeholder='E-mail', title='youremail@gmail.com', required)
                        input(pattern='[\\+]\\d{2}[\\(]\\d{2}[\\)]\\d{4}[\\-]\\d{4}', name='telephone', type='tel', placeholder='Номер телефону', title='+99(999)999-9999', required)
                    textarea(name='message', rows='8', cols='30', placeholder='Текст повідомлення', required)
                input(type='submit', value='ВІДПРАВИТИ').btn.btn-message