.about-subtitle
    margin 0 auto
    max-width 800px
    color $matterhorn-2
    font-size 24px
    line-height 40px
    font-family 'Roboto', sans-serif


.about-text
    font-size 22px
    line-height 31px
    color $mid-grey
    text-align justify


.about-item-list
    display flex
    flex-direction row
    justify-content space-between


.about-item-list
    padding 40px 0


.about-item
    padding 40px 20px


.about-item-title
    font-size 11px
    color $baltic-sea


.about-item-text
    font-size 14px
    line-height 18px
    color $mid-grey
    font-family 'Roboto', sans-serif


.about-item-technology
    background no-repeat url('../img/general/tag.png') center top


.about-item-rental
    background no-repeat url('../img/general/file.png') center top


.about-item-guarantee
    background no-repeat url('../img/general/settings.png') center top


.about-item-partners
    background no-repeat url('../img/general/deal.png') center top