.feedback-title
    padding 0 0 40px 0
    color $matterhorn-2
    font-size 42px
    text-align center


.feedback-list
    display flex
    flex-direction row
    justify-content space-between


.feedback-item
    display flex
    flex-direction column
    justify-content space-between
    width 250px


.feedback-item-name
.feedback-item-position
    color $bright-grey


.feedback-item-name
    font-size 13px


.feedback-item-position
    font-size 11px
    font-style italic


.feedback-item-img
    size(44px)
    margin 0 10px 0 0
    border-radius 100%


.feedback-item-text
    line-height 17px
    font-size 12px
    color $mischka


.feedback-item-score
    color $fallow


.feedback-item-group
    display flex
    margin 20px 0 0 0


.feedback-item-name-group
    display flex
    align-items flex-end


.feedback-item-name-score-group
    display flex
    flex-direction column
    justify-content center