.footer-inner
    margin 0 auto
    padding 60px 0
    max-width 960px
    width 100%


.footer-social
    display flex
    flex-direction row
    justify-content center


.fooder-link
    margin 0 20px
    padding 10px
    background-color $night-rider
    border-radius 100%
    box-shadow 0 2px 2px rgba(0, 0, 0, 0.3)

    &:hover
        background-color $persian-green

    &:active
        background-color $jungle-green


.sprite
    display block
    background-image url('../../static/img/general/spritesheet.png')
    background-repeat no-repeat


.sprite-facebook
    width 32px
    height 32px
    background-position -5px -5px


.sprite-tumblr
    width 32px
    height 32px
    background-position -47px -5px


.sprite-twitter
    width 32px
    height 32px
    background-position -89px -5px


.sprite-vk
    width 32px
    height 32px
    background-position -131px -5px


.footer-nav
    display flex
    flex-direction row
    justify-content space-around
    margin 60px auto 100px

    li
        a
            font-size 13px
            color $white

            &:hover
                color $persian-green

            &:active
                color $jungle-green


.footer-copyright
    font-size 16px
    color $matterhorn
    text-align center