.gallery-list
    display flex
    justify-content space-around
    align-items center
    overflow hidden


.gallery-item-group
    display flex
    flex-direction column


.gallery-item
.gallery-item--large
    overflow hidden
    display flex
    

.gallery-item
    size(240px)


.gallery-item--large
    size(240px, 480px)