.gallery-list
    display flex


.gallery-item-group
    display flex
    flex-direction column


.gallery-item
.gallery-item--large
    overflow hidden
    display flex

.gallery-item
    size(240px)


.gallery-item--large
    size(240px, 480px)