.partners-title
.partners-subtitle
    color $matterhorn


.partners-title
    font-size 52px


.partners-subtitle
    margin 40px 0 80px
    font-size 20px


.partners-list
    display flex
    flex-direction row
    justify-content space-between
    align-items center


.partners-img
    width 100px