.tab
    overflow hidden
    font-family 'Roboto', sans-serif
    color #888


.tabs
    display flex
    justify-content space-between
    overflow hidden

    li
        line-height 38px
        overflow hidden
        position relative

    a
        border-bottom 0
        color #888
        font-size 14px
        font-weight 600
        display block
        outline none
        transition all 0.2s ease-in-out
        border-top 2px solid transparent


.tabs-item
    display none
    padding 30px 0


.current a
    color $jungle-green
    border-top 2px solid $jungle-green

