.questions-title
.questions-subtitle
    text-align center
    color $white


.questions-title
    font-size 52px


.questions-subtitle
    padding 40px 0
    font-size 20px


input
textarea
    padding 15px 20px
    background-color rgba(255, 255, 255, .3)
    border 0
    border-radius 5px
    color $white


.form-message-inner
    display flex
    flex-direction row
    justify-content space-between


.form-input-wrap
    display flex
    flex-direction column
    justify-content space-between


.form-subscribe
    display flex
    flex-direction row
    justify-content space-between


.form-message
    textarea
    input[type='text']
    input[type='email']
    input[type='tel']
        width 460px


.form-subscribe
    input[type='text']
        width 400px

    input[type='email']
        width 300px


.btn
    display block
    font-weight 700
    transition .2s
    cursor pointer


.btn-message
    margin 40px auto 80px
    background-color $jungle-green
    width 300px
    border-radius 25px

    &:hover
        background-color $persian-green
        color $white


.btn-subscribe
    background-color $baltic-sea

    &:hover
        background-color $persian-green