#slogan
    padding 70px 0 0
    height 100vh
    background fixed  url('../../static/img/general/header.jpg') no-repeat center
    background-size cover
    display flex
    justify-content center
    align-items center

    .inner
        margin 0

.slogan-carousel-item
    padding 0 50px
    width 100%
    text-align center


.slogan-title
.slogan-subtitle
    color $white


.slogan-title
    font-size 55px


.slogan-subtitle
    margin 20px 0 0
    line-height 28px
    font-size 22px
    font-family 'EB Garamond', serif

