.form-subscribe
    display flex
    flex-direction row
    justify-content space-between


.form-subscribe
    input[type='text']
    input[type='email']
        box-shadow inset 0 2px 2px rgba(0, 0, 0, 0.3)


.btn-subscribe
    box-shadow 0 2px 2px rgba(0, 0, 0, 0.3)