extends ../layout/main

block variables
	- var title = 'Чайка'

block content
	include ../modules/slogan
	include ../modules/about
	include ../modules/product
	include ../modules/gallery
	include ../modules/news
	include ../modules/partners
	include ../modules/feedback
	include ../modules/questions
	include ../modules/subscribe
	include ../modules/contacts
	include ../modules/footer
