.wrapper
    margin 0 auto
    width 100%
    //background-color red


.inner
    margin 0 auto
    padding 80px 0
    max-width 960px
    width 100%
    //background-color yellow


section
    text-align center

    &:after
        content ""
        display inline-block
        vertical-align middle
        zoom 1


.chapter
    font-size 18px
    font-weight 600
    color $gray
    font-family 'Roboto', sans-serif


.title
    padding 80px 0
    font-size 60px
    color $matterhorn


.btn
    display block
    font-weight 700
    transition .2s
    cursor pointer
    background-color $jungle-green

    &:hover
        background-color $persian-green
        color $baltic-sea

    &:active
        background-color $jungle-green


input::placeholder
textarea::placeholder
    color $white


#about
    background-color $white
    padding 0 20px
    box-shadow 0px -2px 10px 0px rgba(0,0,0,0.3)


#product
    background-color $white-smoke
    box-shadow inset 0 2px 4px rgba(0, 0, 0, 0.3)


#gallery
    background-color $white
    box-shadow inset 0 2px 4px rgba(0, 0, 0, 0.3)


#news
    background-color $white
    padding 0 20px


#partners
    padding 0 20px
    background fixed url('../../static/img/general/partners.png') no-repeat
    background-size cover
    box-shadow inset 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 -2px 4px rgba(0, 0, 0, 0.3)


.feedback
    padding 0 20px
    background-color $white-smoke


.questions
    padding 0 20px
    background fixed url('../../static/img/general/questions.png') no-repeat
    background-size cover
    box-shadow inset 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 -2px 4px rgba(0, 0, 0, 0.3)


.subscribe
    padding 0 20px
    background-color $baltic-sea


#contacts
    //background-color deeppink

