.wrapper
    margin 0 auto
    max-width 1200px
    width 100%
    //background-color red


.inner
    //margin 0 auto
    max-width 960px
    width 100%
    //background-color yellow


section
    height 1080px
    color #FFF
    text-align center

    &:after
        content ""
        display inline-block
        vertical-align middle
        zoom 1


#about
    background-color aqua

#product
    background-color blueviolet

#gallery
    background-color fuchsia

#news
    background-color chartreuse

#partners
    background-color lightgreen

#contacts
    background-color deeppink