@media screen and (max-width: 375px)
    .slogan-title
        font-size 25px
        line-height 30px


@media screen and (max-width: 480px)
    .logo
        background-color transparent
        color transparent
        box-shadow none


@media screen and  (max-width: 768px)
    .slogan-title
        font-size 35px
        line-height 40px




@media screen and (max-width: 1024px)
    .navbar
        ul
            a
                padding 0 10px