@media screen and (max-width: 375px)
    .slogan-title
        font-size 25px
        line-height 30px


@media screen and (max-width: 425px)
    .title
        font-size 40px

    .about-item-group
        flex-direction column


@media screen and  (max-width: 768px)
    .slogan-title
        font-size 35px
        line-height 40px

    .logo
        margin  12px 0 0 10px
        size(110,auto)
        background-color transparent
        color transparent
        line-height 0
        box-shadow none

    .navbar
        display none

    .navbar-burger
        //display none

        ul
            overflow hidden
            height 100vh
            flex-direction column
            align-items center
            justify-content center
            background-color $white

            a
                color $jungle-green

    .about-item-list
        flex-direction column


@media screen and  (min-width: 769px)
    .burger
        display none

    .navbar-burger
        display none!important // solves the problematic of menu transitions


@media screen and (max-width: 650px)
    .product-item-group
        flex-direction column

    .gallery-item
        flex-direction column


@media screen and  (min-width: 650px) and (max-width: 960px)
    .product-item-group
        flex-direction row
        justify-content space-around

    .gallery-item-group
        flex-direction row

    .gallery-item--large
        size(480px,240px)


@media screen and (min-width: 480px) and (max-width: 680px)
    .news-tab-img
        float left
        padding-right 20px

    .news-tabs
        li
            width 100%
        a
            width 100%

    .news-tab-date-group
        top 90px
        left 0


@media screen and (max-width: 680px)
    .news-tabs
        flex-direction column
        align-items center

        li
            margin 20px 0


@media screen and (max-width: 780px)
    .partners-list
        flex-direction column

    .partners-item
        margin 10px 0


@media screen and (min-width: 680px) and (max-width: 960px)
    .news-tabs
        flex-direction row
        align-items center

        li
            width 32%

        a
            width auto


@media screen and (max-width: 840px)
    .feedback-list
        flex-direction column
        align-items center

    .feedback-item
        margin 30px 0
        width auto


@media screen and (max-width: 960px)
    .news-item-tab-current
        flex-direction column
        align-items center

    .news-tab-text-wrap-current
        width 100%

    .news-tab-img-current-wrap
        width 100%
        height 200px
        overflow hidden

    .news-tab-img-current
        width 100%


@media screen and (max-width: 500px)
    .form-message-inner
        textarea
        input[type='text']
        input[type='email']
        input[type='tel']
            width calc(100vw - 40px)

    .btn-message
        width calc(100vw - 80px)


@media screen and (max-width: 980px)
    .form-message-inner
        flex-direction column
        align-items center

    .form-message
        textarea
        input[type='text']
        input[type='email']
        input[type='tel']
            margin 10px 0


@media screen and (max-width: 960px)
    .tabs
        flex-direction column

    .product-list
        flex-direction column

    .gallery-list
        flex-direction column

    .gallery-item
        size(auto,240px)

    .gallery-item--large
        size(auto,240px)


@media screen and (max-width: 1024px)
    .navbar
        ul
            a
                padding 0 10px