include ../mixins
block variables

doctype html
html(lang="ua")
	head
		meta(charset="utf-8")
		title #{title}
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="chajka website")
		//- favicon block start
		link(rel='icon', href='static/img/general/favicon.ico', type='image/x-icon')
		//- favicon block end
		link(rel="stylesheet" type='text/css' href="static/css/main.css")

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->

	body
		include ../components/menu
		main
			block content

		script(src="static/js/jquery.js")
		script(src="static/js/libs.min.js")
		script(src="static/js/popper.min.js")
		script(src="static/js/menuspy.min.js")
		script(src="static/js/main.js")
		block script