mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="/static/img/svg/symbol/sprite.svg#" + name)


mixin logotype(logoSrc, logoAlt, link, title)
	a(href= link).logo= title
		img(src= logoSrc, alt= logoAlt).logo-img


mixin aboutItem(title, text)
	.about-item(class!=attributes.class)
		h4.about-item-title= title
		p.about-item-text= text
