mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="/static/img/svg/symbol/sprite.svg#" + name)

mixin logotype(logoSrc, logoAlt, link, title)
	a(href= link).logo= title
		img(src= logoSrc, alt= logoAlt).logo-img

